@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background: url(https://images.pexels.com/photos/2463951/pexels-photo-2463951.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) no-repeat;
    background-size: cover;
    background-position: center;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    z-index: -1;
}

.logo {
    font-size: 30px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.navbar a {
    position: relative;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.0rem;
}

.navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: #ffffff;
    border-radius: 5px;
    transform: translateY(10px);
    transition: .5s;
    opacity: 0;
}

.navbar a:hover:after {
    transform: translateY(0px);
    opacity: 1;
}
